@model Indotalent.Common.DashboardPageModel
@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageId"] = "Dashboard";
}

@section Head {
@Html.StyleBundle("Pages/Dashboard")
@Html.ScriptBundle("Pages/Dashboard")
}

@section ContentHeader {
    <h1>@Localizer.Get("Navigation.Dashboard")</h1>
}

<style>
.s-dashboard-card, .s-dashboard-card-sm {
    margin-bottom: var(--bs-gutter-x);
}

.s-dashboard-card .card-header {
    padding: 1rem;
    border-bottom: none;
    background-color: transparent;
}

.s-dashboard-card .card-body {
    border-radius: 0 0 4px 4px;
    padding: 1rem;
}

.s-dashboard-card .card-footer {
    border-top-color: transparent;
    background-color: transparent;
    padding: 1rem;
}

.s-dashboard-card .card-title {
    margin: 0;
    font-size: 1.4rem;
    color: var(--s-table-title);
}

.s-dashboard-card-sm .card-body {
    padding: 1rem;
    border-radius: 4px 4px 0 0;
    margin: 1px;
}

.s-dashboard-card-sm .card-footer {
    color: rgba(var(--s-bright-rgb), 0.8);
    background-color: var(--bs-body-bg);
    border-radius: 0 0 4px 4px;
    border-top: none;
    margin: 0 1px 1px 1px;
    padding: 3px 0;
    text-align: center;
    text-decoration: none;
}

.s-dashboard-card-sm h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}

.s-dashboard-card-sm p {
    font-size: 15px;
}

.s-dashboard-card-sm p > small {
    display: block;
    font-size: 13px;
    margin-top: 5px;
}

.s-dashboard-card-sm .icon {
    transition: all 0.3s linear;
    position: absolute;
    top: 13px;
    color: #fff;
    opacity: 0.9;
    right: 10px;
    font-size: 64px;
}
.small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}

.bg-world-map {
    background: #3c8dbc;
}

.bg-G-purple {
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);

}
.bg-G-orange {
    background: linear-gradient(to right, #F27121, #E94057, #8A2387);

}

.s-dashboard-card-sm:hover .icon {
    font-size: 70px;
}
</style>


<div class="row">
    <div class="col-lg-4 col-sm-6">
        <div class="card s-dashboard-card-sm bg-primary opacity-75 text-white">
            <div class="card-body">
                <h3>@Model.CurrentMonthSales.Amount.ToString("##,##,00")</h3>
                <p>Sales Order (@Model.Currency)</p>
            </div>
            <div class="icon">
                <i class="fa fa-shopping-bag"></i>
            </div>
            <a href="~/Sales/SalesOrder" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card s-dashboard-card-sm s-alt bg-info opacity-75 text-white">
            <div class="card-body">
                <h3>@Model.CurrentMonthPurchase.Amount.ToString("##,##,00")</h3>
                <p>Purchase Order (@Model.Currency)</p>
            </div>
            <div class="icon">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <a href="~/Purchase/PurchaseOrder" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card s-dashboard-card-sm bg-warning opacity-75 text-white">
            <div class="card-body">
                <h3>@Model.CurrentMonthMargin.Amount.ToString("##,##,00")</h3>
                <p>Margin (@Model.Currency)</p>
            </div>
            <div class="icon">
                <i class="fa fa-percent"></i>
            </div>
            <a href="#" class="small-box-footer">#</a>
        </div>
    </div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="small-box text-center bg-G-purple opacity-75">
			<div class="inner">
				<input type="text" class="knob" data-readonly="true" value="@Model.CurrentMonthSalesTransaction" data-width="200" data-height="200" data-fgColor="#ffffff" data-linecap="round" data-bgColor="rgba(66, 20, 62, 0.46)">
			</div>
			<div class="icon">
				<i class="ion ion-person-add"></i>
			</div>
			<a href="~/Sales/SalesOrder" class="small-box-footer">Sales Transaction <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="small-box text-center bg-G-orange opacity-75">
			<div class="inner">
				<input type="text" class="knob" data-readonly="true" value="@Model.CurrentMonthPurchaseTransaction" data-width="200" data-height="200" data-fgColor="#ffffff" data-linecap="round" data-bgColor="rgba(66, 20, 62, 0.46)">
			</div>
			<div class="icon">
				<i class="ion ion-person-add"></i>
			</div>
			<a href="~/Purchase/PurchaseOrder" class="small-box-footer">Purchase Transaction <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
</div>
<div class="row">
    <section class="col-lg-6">
        <div class="card s-dashboard-card bg-success opacity-75">
            <div class="card-header d-flex">
                <h3 class="card-title text-white">Sales Graph (@Model.Currency)</h3>
            </div>
            <div class="card-body text-white">
                @* <canvas id="purchase-chart" style="height: 266px;"></canvas> *@
                <div class="chart" id="purchase-chartzzzzzzz" style="height: 250px;"></div>
            </div>
            <div class="card-footer bg-light no-border">
                <div class="row">
                    <div class="col-4 text-center" style="border-right: 1px solid #f4f4f4">
                        <input type="text" class="knob" data-readonly="true" value="@Model.PurchaseKPI1.Value" data-width="60" data-height="60" data-fgColor="#39a0ff" data-bgColor="#39a0ff50">
                        <div class="knob-label">@Model.PurchaseKPI1.Name</div>
                    </div>
                    <div class="col-4 text-center" style="border-right: 1px solid #f4f4f4">
                        <input type="text" class="knob" data-readonly="true" value="@Model.PurchaseKPI2.Value" data-width="60" data-height="60" data-fgColor="#39a0ff" data-bgColor="#39a0ff50">
                        <div class="knob-label">@Model.PurchaseKPI2.Name</div>
                    </div>
                    <div class="col-4 text-center">
                        <input type="text" class="knob" data-readonly="true" value="@Model.PurchaseKPI3.Value" data-width="60" data-height="60" data-fgColor="#39a0ff" data-bgColor="#39a0ff50">
                        <div class="knob-label">@Model.PurchaseKPI3.Name</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="col-lg-6">
        <div class="card s-dashboard-card bg-primary opacity-75">
            <div class="card-header d-flex">
                <h3 class="card-title text-white">Purchase Graph (@Model.Currency)</h3>
            </div>
            <div class="card-body text-white">
                @* <canvas id="sales-chart" style="height: 266px;"></canvas> *@
                <div class="chart" id="sales-chart" style="height: 250px;"></div>
            </div>
            <div class="card-footer bg-light no-border">
                <div class="row">
                    <div class="col-4 text-center" style="border-right: 1px solid #f4f4f4">
                        <input type="text" class="knob" data-readonly="true" value="@Model.SalesKPI1.Value" data-width="60" data-height="60" data-fgColor="#39a0ff" data-bgColor="#39a0ff50">
                        <div class="knob-label">@Model.SalesKPI1.Name</div>
                    </div>
                    <div class="col-4 text-center" style="border-right: 1px solid #f4f4f4">
                        <input type="text" class="knob" data-readonly="true" value="@Model.SalesKPI2.Value" data-width="60" data-height="60" data-fgColor="#39a0ff" data-bgColor="#39a0ff50">
                        <div class="knob-label">@Model.SalesKPI2.Name</div>
                    </div>
                    <div class="col-4 text-center">
                        <input type="text" class="knob" data-readonly="true" value="@Model.SalesKPI3.Value" data-width="60" data-height="60" data-fgColor="#39a0ff" data-bgColor="#39a0ff50">
                        <div class="knob-label">@Model.SalesKPI3.Name</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @* <section class="col-lg-5">
        <div class="card s-dashboard-card bg-world-map">
            <div class="card-header d-flex">
                <h3 class="card-title text-white">
                    <i class="fa fa-map-marker"></i> Visitors
                </h3>
                <div class="ms-auto s-dashboard-card-tools">
                    <button class="btn btn-primary btn-sm daterange" data-toggle="tooltip" title="Date range"><i class="fa fa-calendar"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div id="world-map" style="height: 253px; width: 100%;"></div>
            </div>
            <div class="card-footer border-top-0">
                <div class="row">
                    <div class="col-4 text-center">
                        <div id="sparkline-1"></div>
                        <div class="knob-label text-white text-opacity-75">New Visitors</div>
                    </div>
                    <div class="col-4 text-center">
                        <div id="sparkline-2"></div>
                        <div class="knob-label text-white text-opacity-75">Online</div>
                    </div>
                    <div class="col-4 text-center">
                        <div id="sparkline-3"></div>
                        <div class="knob-label text-white text-opacity-75">Returning</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card s-dashboard-card">
            <div class="card-body p-0">
                <div id="calendar" style="width: 100%"></div>
            </div>
            <div class="card-footer py-4">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="clearfix">
                            <span class="pull-left">Task #1</span>
                            <small class="float-end">90%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                        </div>
                        <div class="clearfix">
                            <span class="pull-left">Task #2</span>
                            <small class="float-end">70%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 70%;"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="clearfix">
                            <span class="pull-left">Task #3</span>
                            <small class="float-end">60%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 60%;"></div>
                        </div>
                        <div class="clearfix">
                            <span class="pull-left">Task #4</span>
                            <small class="float-end">40%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 40%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> *@
</div>

<script>

    $(function () {

        
        $('.daterange').daterangepicker({
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            startDate: moment().subtract(29, 'days'),
            endDate: moment()
        }, function (start, end) {
            window.alert("You chose: " + start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        });

        $(".knob").knob();

        var purchaseChart = new Morris.Line({
		element: 'purchase-chartzzzzzzz',
		resize: true,
		data: @(Html.Raw(Json.Serialize(Model.PurchaseGraph))),
		xkey: 'Month',
		ykeys: ['Amount'],
		labels: ['Amount (@Model.Currency)'],
		lineColors: ['#efefef'],
		lineWidth: 2,
		hideHover: 'auto',
		gridTextColor: "#fff",
		gridStrokeWidth: 0.4,
		pointSize: 4,
		pointStrokeColors: ["#efefef"],
		gridLineColor: "#efefef",
		gridTextFamily: "Open Sans",
		gridTextSize: 10
	  });


	  var salesChart = new Morris.Line({
		element: 'sales-chart',
		resize: true,
		data: @(Html.Raw(Json.Serialize(Model.SalesGraph))),
		xkey: 'Month',
		ykeys: ['Amount'],
		labels: ['Amount (@Model.Currency)'],
		lineColors: ['#efefef'],
		lineWidth: 2,
		hideHover: 'auto',
		gridTextColor: "#fff",
		gridStrokeWidth: 0.4,
		pointSize: 4,
		pointStrokeColors: ["#efefef"],
		gridLineColor: "#efefef",
		gridTextFamily: "Open Sans",
		gridTextSize: 10
	  });
            

        var sparklineOpt = {
            type: 'bar',
            barColor: "#f0f0f0",
            barWidth: 6,
            barSpacing: 2,
            height: '40'
        }

        $('#sparkline-1').sparkline([1000, 1200, 920, 927, 931, 1027, 819, 930, 1021], sparklineOpt);
        $('#sparkline-2').sparkline([515, 519, 520, 522, 652, 810, 370, 627, 319, 630, 921], sparklineOpt);
        $('#sparkline-3').sparkline([15, 19, 20, 22, 33, 27, 31, 27, 19, 30, 21], sparklineOpt);

        $('.s-dashboard-card ul.nav a').on('shown.bs.tab', function () {
            salesByQuarterChart.update();
            salesByTypeChart.update();
        });
    });
</script>